body,
#root {
  text-align: center;
}
nav {
  display: flex;
  justify-content: space-evenly;
  text-decoration: none;
  background-color: bisque;
  padding: 20px;
  font-size: 24px;
  font-weight: 600;
  color: #232323;
}
nav .link {
  text-decoration: none;
  color: #232323;
}
.btn {
  cursor: pointer;
  padding: 10px;
  margin: 10px;
  font-size: 18px;
  background-color: rgb(138, 76, 31);
  color: #fdfdfd;
  transition: 0.4s ease;
  text-decoration: none;
  border-radius: 8px;
  font-weight: 500;
}
.btn:hover {
  background-color: rgb(179, 87, 22);
}
nav .active-link {
  color: red;
}
.products {
  display: flex;
  justify-content: space-evenly;
  margin: 10px;
  padding: 10px;
}
.product .link {
  font-size: 18px;
}
img {
  border-radius: 7px;
  width: 10rem;
  margin: 10px;
  height: 10rem;
}
